<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="Card1">
        <mat-card-content>
          <div class="title">
            <h3>Welcome to DefectBoard</h3>
          </div>
          <form class="Card" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="username">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <div class="mb-3 ">
              <a class="urldata1" href="">New User?</a>
              <a class="urldata2" href="">Forgot password ?</a>
            </div>
            <button mat-raised-button type="Submit">Login</button>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="Card2">
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
  </div>