<div class="container">
  <div class="row B">
    <div class="col">
      <div class="pname">
        {{title}}
      </div>
      <div class="menulist">
        <ul class="list">
          <dt><a routerLink="./login" routerLinkActive="active">Login</a></dt>
          <dt><a routerLink="./create-project" routerLinkActive="active">Create Project</a></dt>
          <dt><a routerLink="./review-project" routerLinkActive="active">Review Project</a></dt>
          <dt><a routerLink="./review-project" routerLinkActive="active">Select Project</a></dt>
          <dt><a routerLink="./create-issue" routerLinkActive="active">Create Issue</a></dt>
          <dt><a routerLink="./review-issue" routerLinkActive="active">Review Issue</a></dt>
          <dt><a routerLink="./project-status-page" routerLinkActive="active">Project Issue
              Status</a>
          </dt>
          <dt><a routerLink="./registration" routerLinkActive="active">Register New User</a></dt>
        </ul>
      </div>
    </div>
  </div>
</div>