<div class="container">
  <div class="row R">
    <div class="col-lg-1 col-md-1 col-sm-1 A">
      <div class="project_logo"><img src="../assets/img/website-bug-70.png" height="70" width="70"
          alt="project_logo Missing" /></div>
      <div class="add_project"><img src="../assets/img/add-file-50.png" height="40" width="40"
          alt="add_project_logo Missing" /></div>
      <div class="help_logo"><img src="../assets/img/help-64.png" height="40" width="40" alt="help_logo Missing" />
      </div>
      <div class="login_logo"><img src="../assets/img/login-64.png" height="40" width="40" alt="login_logo Missing" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 B">
      <div class="pname">
        {{Project_Name}}
      </div>
      <div class="menulist">
        <a href="#">Create Issue</a><br>
        <a href="#">Review Issue</a>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 C"></div>
  </div>

</div>
<router-outlet></router-outlet>