.R {
  height: 750px;
  margin-top: 60px;
  /* border: 2px solid black; */
  padding: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div {
  padding: 0px;
}
.pathway {
  /* background-color: blue; */
  height: 40px;
  width: max-content;
}
.pathlabel {
  font-weight: bold;
  padding: 8px;
  text-align: start;
}
a {
  color: black;
  text-decoration: none;
}
#homebutton {
  margin: 200px 0px 0px 0px;
}

.box {
  height: 150px;
  width: 150px;
  background-color: blue;
}
a {
  padding: 5px;
}
label {
  color: whitesmoke;
  font-weight: bold;

  margin: 65px 0px 0px 35px;
}
