.Card {
  margin: 40px;
}

.container {
  margin-left: 30px;
}
h3 {
  font-weight: bolder;
}
label {
  font-weight: bolder;
}
.Card1 {
  margin: 100px 0px 0px 0px;
  height: 500px;
  width: 450px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Card2 {
  margin: -500px 0px 0px 450px;
  height: 500px;
  width: 450px;
  border: 1px solid black;
  background-color: #1b89f7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  text-align: center;
}
.urldata1 {
  text-decoration: none;
  font-size: smaller;
}
.urldata2 {
  text-decoration: none;
  margin-left: 168px;
  font-size: smaller;
}
button {
  margin-left: 110px;
  width: 100px;
  background-color: #1b89f7;
  font: bold;
  color: whitesmoke;
}
