<div class="container">
  <div class="row A">
    <div class="col">
      <div class="project_logo"><a routerLink="./home"><img src="../assets/img/website-bug-70.png" height="80"
            width="80" alt="project_logo Missing" /> </a></div>
      <div class="add_project"><a routerLink="./create-project"><img src="../assets/img/add-file-50.png" height="35"
            width="35" alt="add_project_logo Missing" /></a></div>
      <div class="help_logo"><a routerLink="./help-page"><img src="../assets/img/help-64.png" height="40" width="40"
            alt="help_logo Missing" />
        </a></div>
      <div class="login_logo"><a routerLink="/login"><img src="../assets/img/login-64.png" height="40" width="40"
            alt="login_logo Missing" />
        </a>
        {{username}}
      </div>
    </div>
  </div>
</div>