<div class="container">
  <div class="row A">
    <div class="col">
      <div class="project_logo"><a routerLink="/home"><img src="../assets/img/website-bug-70.png" height="80" width="80"
            alt="project_logo Missing" /> </a></div>
      <div class="add_project"><img src="../assets/img/add-file-50.png" height="35" width="35"
          alt="add_project_logo Missing" /></div>
      <div class="help_logo"><img src="../assets/img/help-64.png" height="40" width="40" alt="help_logo Missing" />
      </div>
      <div class="login_logo"><img src="../assets/img/login-64.png" height="40" width="40" alt="login_logo Missing" />
      </div>
    </div>
  </div>
</div>