.C {
  background-color: white;
}
table td {
  position: relative;
}
a {
  color: black;
  text-decoration: none;
}

.text1 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 25px;
}
.text2 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 30px;
}
.text3 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 23px;
}
.text4 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 40px;
}
.text5 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 45px;
}
.text6 {
  position: absolute;
  top: 55px;
  font-weight: bolder;
  font-size: small;
  left: 50px;
}
.tabeldata {
  margin-top: 10px;
  border: 1px solid black;
}
.arrow {
  transform: rotate(180deg);
}
.Chart1 {
  font-weight: bolder;
  position: absolute;
  font-size: 25px;
  margin: -150px 0px 0px 720px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 1px red;
}
.Chart2 {
  font-weight: bolder;
  position: absolute;
  font-size: 30px;
  margin: 250px 0px 0px 40px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 1px red;
}
.graphview {
  margin: 80px 0px 0px 370px;
  border: 1px solid black;
  height: 300px;
  width: 600px;
}
#chart {
  max-width: 300px;
  margin: 30px auto;
  padding: 0;
}
